ol li{
    background-color: yellow;
}

#elem1, #elem3, #elem5{
    text-transform: uppercase;
}

#elem2, #elem4{
    color: green;
}

li{
    font-size: 20px;
}

ol li{
    font-weight: 900;
}

.ling{
    color: blue;
}

.java{
    background-color: pink;
}


