
h3:active{
    color: white;
}
.cor1:hover{
    background-color: green;
    border: 5px solid black;
}

.cor2:hover{
    background-color: gold;
    border: 5px solid black;
}

.cor3:hover{
    background-color: yellowgreen;
    border: 5px solid black;
}

.cor3{
    font-size: 30px;
}

.cor4:hover{
    background-color: darkblue;
    border: 5px solid black;
}

.cor5:hover{
    background-color: lightblue;
    border: 5px solid black;
}

.cor1, .cor3, .cor5{
    font-style: italic;
}

